@using WibuBlog.Helpers
@model WibuBlog.ViewModels.Home.HomeVM

@{
    ViewData["Title"] = "Home Page";
}


<link rel="stylesheet" href="~/fontawesome/css/all.css" />
<link rel="stylesheet" href="~/css/home.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

@* C# codes *@

@{
    var stringLength = 30;
}

<div class="d-flex gap-5 align-items-start">
    <div class="d-flex flex-column w-75">
        @* Left hand content *@
        <div class="row cat-items">
            <div class="front">
                <a class="text-decoration-none">Đại sảnh</a>
            </div>
            <div class="front-content">
                @{
                    if(Model?.RestrictedCategories != null && Model.RestrictedCategories.Any())
                    {
                        foreach (var c in Model?.RestrictedCategories)
                        {
                            <div class="row-content row">
                                <div class="row-content-content mt-2 col-6">
                                    <i class="fa-regular fa-comments fs-3"></i>
                                    <a asp-action="NewPosts" asp-controller="Post" asp-route-PostCategoryId="@c.Id" class="m-2">@c.Name</a>
                                </div>
                                <div class="row-content-stat col-2">
                                    <div class="row-content-stat-tit text-center">
                                        <p>Threads</p>
                                    </div>
                                    <div class="row-content-stat-p">
                                        <p>@Model.Posts?.Where(p => p.Category?.Name == c.Name).Count()</p>
                                    </div>
                                </div>

                                @{
                                    var latestPost = Model.Posts?
                                    .Where(p => p.Category?.Name == c.Name)
                                    .OrderByDescending(p => p.CreatedAt)
                                    .FirstOrDefault();
                                }


                                @if (latestPost != null)
                                {
                                    <div class="avt col-1">
                                        <img class="rounded-circle" src="@(latestPost?.User?.ProfilePhoto?.Url ?? Url.Content("~/images/defaults/user/default_avatar.jpg"))" />
                                    </div>
                                    var latestTime = DateFormatHelper.GetDateFormat(latestPost.CreatedAt);
                                    <div class="post-info col-3">
                                        <a asp-action="Detail" asp-controller="Post" asp-route-id="@latestPost.Id">@TruncateStringHelper.Truncate(@latestPost.Title, stringLength)</a>
                                        <p>
                                            @latestTime -
                                            <a href="#">@latestPost.User?.UserName</a>
                                        </p>
                                    </div>
                                }
                            </div>
                        }
                    }
                }

            </div>
        </div>
        <div class="row cat-items">
            <div class="front">
                <a class="text-decoration-none">Danh mục</a>
            </div>
            <div class="front-content">
                @{
                    if (Model?.NonRestrictedCategories != null && Model.NonRestrictedCategories.Any())
                    {
                        foreach (var c in Model?.NonRestrictedCategories)
                        {
                            <div class="row-content row">
                                <div class="row-content-content mt-2 col-6">
                                    <i class="fa-regular fa-comments fs-3"></i>
                                    <a asp-action="NewPosts" asp-controller="Post" asp-route-PostCategoryId="@c.Id" class="m-2">@c.Name</a>
                                </div>
                                <div class="row-content-stat col-2">
                                    <div class="row-content-stat-tit text-center">
                                        <p>Threads</p>
                                    </div>
                                    <div class="row-content-stat-p">
                                        <p>@Model.Posts?.Where(p => p.Category?.Name == c.Name).Count()</p>
                                    </div>
                                </div>
                                @{
                                    var latestPost = Model.Posts?
                                    .Where(p => p.Category?.Name == c.Name)
                                    .OrderByDescending(p => p.CreatedAt)
                                    .FirstOrDefault();
                                }

                                @if (latestPost != null)
                                {
                                    <div class="avt col-1">
                                        <img class="rounded-circle" src="@(latestPost?.User?.ProfilePhoto?.Url ?? Url.Content("~/images/defaults/user/default_avatar.jpg"))" />
                                    </div>
                                    var latestTime = DateFormatHelper.GetDateFormat(latestPost.CreatedAt);
                                    <div class="post-info col-3">
                                        <a asp-action="Detail" asp-controller="Post" asp-route-id="@latestPost.Id">@TruncateStringHelper.Truncate(@latestPost.Title, stringLength)</a>
                                        <p>
                                            @latestTime -
                                            <a href="#">@latestPost.User?.UserName</a>
                                        </p>
                                    </div>
                                }
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>

    @* Right Hand Content *@
    <div class="w-25 d-flex flex-column">
        <hr />
        <div class="right-content d-flex flex-column p-0">
            <div class="trending">
                <p id="trending-title" class="mb-2">Trending content</p>
                @{
                    @if (Model?.Posts != null && Model.Posts.Any())
                    {
                        var postSize = 5;
                        //Lay ra posts nhieu comments nhat trong 7 ngay tro lai day
                        foreach (var p in Model.Posts
                            .Where(p => p.Category?.IsRestricted == false)
                            .Where(p => (DateTime.Now - p.CreatedAt).TotalDays <= 7)
                            .Take(postSize)
                            .OrderByDescending(x => x.Comments.Count)
                            .ThenByDescending(p => p.CreatedAt))
                        {
                            var latestTime = DateFormatHelper.GetDateFormat(p.CreatedAt);
                            <div class="d-flex">
                                <img class="rounded-circle" src="@(p?.User?.ProfilePhoto?.Url ?? Url.Content("~/images/defaults/user/default_avatar.jpg"))" />
                                <div class="trending-content-detail">
                                    <a asp-action="Detail" asp-controller="Post" asp-route-id="@p.Id" id="trending-content-title">@TruncateStringHelper.Truncate(@p.Title, stringLength)</a>
                                    <p>@p.User?.UserName - @latestTime</p>
                                    <p>Replies: @p.Comments.Count()</p>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>
        <hr />
        <div class="right-content d-flex flex-column p-0">
            <div class="trending">
                <p id="trending-title" class="mb-2">Lastest posts</p>
                @{
                    if(Model?.RecentPosts?.Items != null && Model.RecentPosts.Items.Any())
                    {
                        foreach (var p in Model.RecentPosts?.Items.Where(p => !p.Category.IsRestricted))
                        {
                            var latestTime = DateFormatHelper.GetDateFormat(p.CreatedAt);
                            <div class="d-flex">
                                <img class="rounded-circle" src="@(p?.User?.ProfilePhoto?.Url ?? Url.Content("~/images/defaults/user/default_avatar.jpg"))" />
                                <div class="trending-content-detail">
                                    <a asp-action="Detail" asp-controller="Post" asp-route-id="@p.Id" id="trending-content-title">@TruncateStringHelper.Truncate(@p.Title, stringLength)</a>
                                    <p>@p.User?.UserName - @latestTime</p>
                                    <p>Replies: @p.Comments.Count()</p>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>
