@using System.Security.Claims
@using WibuBlog.ViewModels.Post
@using WibuBlog.Helpers
@using Application.Common.MessageOperations
@model PostDetailVM

<link rel="stylesheet" href="~/fontawesome/css/all.css" />
<link rel="stylesheet" href="~/css/postDetail.css" />
<link rel="stylesheet" href="~/richtexteditor/rte_theme_default.css" />
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.17.2/dist/sweetalert2.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.17.2/dist/sweetalert2.all.min.js"></script>

<section>
    <div class="container mt-4">
        <div class="post-container">
            <div class="mb-3">
                <a asp-action="NewPosts" class="btn btn-secondary">
                    <i class="fa-solid fa-arrow-left"></i> Post List
                </a>
            </div>


            <div class="post-header d-flex justify-content-between">
                <div class="d-flex gap-2">
                    <img src="@(Model.Post.User.ProfilePhoto != null ? Model.Post.User.ProfilePhoto.Url : "default-avatar-url")" alt="Avatar" class="avatar">
                    <div>
                        <h5 class="m-0">@Model.Post?.User?.UserName</h5>
                        <small class="text-muted">@DateFormatHelper.GetDateFormat(Model.Post.CreatedAt)</small>
                    </div>
                </div>
                @if (Model.User != null && !Model.Post.IsHidden)
                {
                    <div class="dropdown">
                        <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-ellipsis fs-5"></i>
                        </button>
                        <ul style="background-color:#eaebec" class="dropdown-menu">
                            @{
                                if (Model.User?.Id == Model.Post.UserId)
                                {
                                    <li>
                                        <a asp-route-id="@Model.Post.Id" class="dropdown-item" asp-action="Edit"
                                            asp-controller="Post">
                                            Edit
                                        </a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider border-top border-secondary">
                                    </li>
                                    <li>
                                        <a class="dropdown-item text-danger" onclick="confirmDeletePost('@Model.Post.Id')"
                                            style="color: red !important;">
                                            Delete
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a class="dropdown-item text-danger" href="#"
                                            onclick="showReportDialog('@Model.Post.Id', '@Model.User?.Id'); return false;">
                                            Report
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                }
            </div>
            <div class="post-content mt-2">
                <h3 class="mb-3">@Model.Post?.Title</h3>
                <p id="post-content">@Html.Raw(Model.Post?.Content)</p>
            </div>

            <!-- Post Actions -->
            <div class="post-actions mt-5" data-post-id="@Model.Post?.Id">
                <div class="action-button d-flex align-items-center justify-content-between px-3 py-2">
                    <div class="d-flex align-items-center">
                        <a class="vote-btn upvote-btn me-1" data-vote="up"><i
                                class="fa-regular fa-circle-up"></i></a>
                        <span class="vote-count" id="total-vote-count">0</span>
                    </div>
                    <a class="vote-btn downvote-btn" data-vote="down"><i
                            class="fa-regular fa-circle-down"></i></a>
                </div>
            </div>

            <!-- Comment Input -->
            @{

                if (Model.User == null) //Chua log in
                {
                    <p class="mt-3 fst-italic text-danger">*@MessageConstants.ME029*</p>
                    <input type="hidden" name="postId" id="post-id" value="@Model.Post?.Id" />
                    <input type="hidden" name="userId" id="user-id" value="@Model.User?.Id" />
                }

                else if (Model.Post.IsHidden) //Login roi nhung post da bi xoa
                {
                    <p class="mt-3 fst-italic text-danger">*@MessageConstants.ME030*</p>
                }

                else
                {
                    <div class="mt-3">
                        <button id="toggle-btn">Add your comment</button>
                    </div>
                    <div id="comment-field" class="w-100">
                        <form asp-controller="Comment" asp-action="PostComment" id="commentForm" class="mt-3">
                            <div asp-validation-summary="All"></div>
                            <input type="hidden" name="postId" id="post-id" value="@Model.Post?.Id" />
                            <input type="hidden" name="userId" id="user-id" value="@Model.User?.Id" />
                            <textarea id="content" name="content" class="form-control" rows="3"
                                placeholder="Add a comment"></textarea>
                            <div class="d-flex justify-content-end mt-2">
                                <button type="button" id="cancel-btn" class="me-2">Cancel</button>
                                <button type="button" id="submit-btn"> Comment </button>
                            </div>
                        </form>
                    </div>
                }
            }

            <!-- Comment Section -->
            <div class="comment-section" id="comment-section">
                <h5 class="px-0">Comments (<span id="comment-count">0</span>)</h5>

                <!-- Sort Dropdown -->
                <div class="d-flex justify-content-between">
                    <div>
                        <button class="sort-btn" type="button" data-bs-toggle="dropdown">
                            <small>Sort By <i class="fa-solid fa-angle-down"></i></small>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" onclick="fetchComments('postId', postId, 'createdAt', true)">Latest</a></li>
                            <li><a class="dropdown-item" onclick="fetchComments('postId', postId, 'createdAt', false)">Oldest</a></li>
                        </ul>
                    </div>

                    <!-- Pagination -->
                    <nav aria-label="Page navigation">
                        <ul class="pagination" id="pagination"></ul>
                    </nav>
                </div>

                <!-- Comment List -->
                <div id="comment-list"></div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <div id="post" data-post-id="@Model.Post.Id"></div>
    <script src="~/js/postDetail.js?v=1.0"></script>
    <partial name="_ValidationScriptsPartial"></partial>
    <partial name="_RichTextEditorInit"></partial>
    <script>
        async function showReportDialog(postId, userId) {
            const { value: text } = await Swal.fire({
                input: "textarea",
                inputLabel: "Report Post",
                inputPlaceholder: "Type your reason for reporting here...",
                inputAttributes: {
                    "aria-label": "Type your reason for reporting here"
                },
                showCancelButton: true,
                confirmButtonText: 'Submit Report',
                confirmButtonColor: '#dc3545'
            });

            if (text) {
                $.ajax({
                    url: '@Url.Action("CreateReport", "Report")',
                    type: 'POST',
                    data: {
                        postId: postId,
                        userId: userId,
                        Reason: text
                    },
                    success: function (response) {
                        Swal.fire({
                            title: 'Report Submitted',
                            text: response.message,
                            icon: 'success'
                        });
                    },
                    error: function (error) {
                        Swal.fire({
                            title: 'Error',
                            text: 'There was a problem submitting your report. Please try again.',
                            icon: 'error'
                        });
                    }
                });
            }
        }
    </script>

}
