@model Application.Common.Pagination.PagedResult<Post>

<div class="container">
    <h1 class="text-center">Post List</h1>

    <div class="d-flex justify-content-end">
        <a class="btn btn-primary" asp-action="Add" asp-controller="Post">Add New Post</a>
    </div>

    <table class="table table-striped mt-4">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Content</th>
            <th>Actions</th>
        </tr>
        @foreach (var p in Model.Items)
        {
            <tr>
                <td><a asp-action="Update" asp-controller="Post" asp-route-id="@p.Id">@p.Id</a></td>
                <td>@p.Title</td>
                <td>@p.Content</td>
                <td>
                    <a class="btn btn-outline-primary" asp-action="Update" asp-controller="Post" asp-route-id="@p.Id">
                        Update
                    </a>

                    <a class="btn btn-outline-danger" asp-action="Delete" asp-controller="Post" asp-route-id="@p.Id">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </table>

    @* Pagination *@
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @if (Model.HasPreviousPage)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-page="@(Model.PageNumber - 1)"
                       asp-route-pageSize="@Model.PageSize" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                    <a class="page-link" asp-action="Index" asp-route-page="@i"
                       asp-route-pageSize="@Model.PageSize">@i</a>
                </li>
            }

            @if (Model.HasNextPage)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-page="@(Model.PageNumber + 1)"
                       asp-route-pageSize="@Model.PageSize" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>
